body {
    font-family: sans-serif;
    margin: 0;
    background-color: #CCCCCC;
    transition: margin-left .5s;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #A4C79F;
    color: #0F4B0C;
    padding: 10px 20px;
    display: center;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-center-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 70px;
    margin-right: 10px;
}

.header-right {
    width: 48px;
}

/*
.main-header h3 {
    margin: 0 0 0 20px;
} */

.menu-toggle {
    position: fixed; /*Alterar para static, porem precisa ter como fechar o menu lateral*/
    color: rgb(0, 0, 0);
    padding: 0px;
    top: 60px;
    left: 0px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle :hover{
    color: #ffffff;
}

.sidebar {
    height: calc(100% - 60px);
    width: 55px; /*Inicialmente com o Menu Fechado*/
    position: fixed;
    z-index: 2;
    top: 60px;
    left: 0;
    background-color: #A4C79F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 9px 15px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ffffff;
}

.sidebar a .material-symbols-outlined {
    margin-right: 15px;
    z-index: 3;
}

.content {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 60px;
}

.main-content {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.text-content h3 {
    font-size: 25px;
    margin: 0px;
    align-items: center;

}

.simple-button {
    padding: 10px 20px;
    font-size:22px;
    color: #ffffff;
    background-color: #1E5D1E;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; 
}

.simple-button:hover {
    color: #000000;
    background-color: #A4C79F;
}

.main-image {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

#page-form  .form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    background-color: #949191;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#page-form .content h1 {
    text-align: center;
    color: #000;
    font-size: 28px;
}

#page-form .content p {
    text-align: center;
    color: #000;
    font-size: 18px;
}